---
name: Trivy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '24 15 * * 5'

permissions:
  contents: read

jobs:
  trivy:
    permissions:
      contents: read
      security-events: write

    name: Trivy

    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1

      - name: Run Trivy vulnerability scanner in repo mode
        uses: aquasecurity/trivy-action@0.14.0
        with:
          scan-type: 'fs'
          format: 'sarif'
          exit-code: '1'
          output: 'trivy-results.sarif'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v2.22.6
        with:
          sarif_file: 'trivy-results.sarif'
